# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
# VS caches
*.db
*.db-shm
*.db-wal
*.vsidx

# Build outputs
bin/
obj/
[Bb]uild/
[Ll]og/
*.log

# NuGet
*.nupkg
packages/
.nuget/

# OS
.DS_Store
Thumbs.db

# JetBrains (optional)
.idea/
*.iml
